<!DOCTYPE html>
<html>
<head>
	<title>Edit Page</title>
</head>
<body>

  <h1>Edit a Post</h1>
  <form method="post" action="/posts/<%= @post.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Post Name: <input type="input" name="name" value="<%= @post.name %>"></p>
    <p>Post Content: <input type="input" name="content" value="<%= @post.content %>"></p>
    <input type="submit" value="submit">
  </form>

</body>
</html>